<div class="modal" *ngIf="contactToEdit">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{ contactToEdit._id ? 'Edit Contact' : 'Add New Contact' }}</h2>
  
      <form (submit)="handleSubmit()">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" [(ngModel)]="contactToEdit.firstname" name="firstname" required />
  
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" [(ngModel)]="contactToEdit.lastname" name="lastname" required />
  
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="contactToEdit.email" name="email" required />
  
        <button type="submit">{{ contactToEdit._id ? 'Update' : 'Submit' }}</button>
      </form>
    </div>
  </div>
  